# Ignore Python cache files
__pycache__/
*.pyc

# Ignore virtual environment folder
.env/

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore any log files or executables
*.log
*.exe
